{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">

    <title>CroStocks</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">CroStocks</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

              <li class="nav-item active">
                <a class="nav-link" href="#">My Portfolio<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/stocks/">Stocks</a>
              </li>


            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
</nav>

{% block content %}

{%endblock %}





<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md">
                <a href="/contact-us/">Contact Us</a>
            </div>
            <div class="col-md">
                <a href="/about-us/">About Us</a>
            </div>
        </div>
    </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <p>Filip Macek</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="{% static "bootstrap.min.js" %}"></script>
</body>
</html>